.header
  &-wrap
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 0
  &-info
    display: flex
    flex-direction: column
  &__phone
    margin-left: auto
    font-size: 24px
    color: #5e5e5e
    line-height: 1.7
    +bold
  &__callback
    margin-left: auto
    font-size: 14px
    color: #5892a6
    text-decoration: underline
    +medium
    &-box
      margin-left: auto
      background: #ffffff
      border-radius: 20px
      box-shadow: 0px 0px 38px 0px rgba(104, 176, 201, 0.34)
  

.hero
  background: $section-bg url(../img/hero/hero-bg.jpg) no-repeat left 250px top
  background-size: contain
  &-wrap
    padding: 80px 0 60px 0
  &__title
    margin: 0 0 20px auto
    text-align: right
    max-width: 650px
    font-size: 41px
    line-height: 1.2
    +bold
  &__subtitle
    display: block
    margin-left: auto
    margin-bottom: 67px
    text-align: right
    font-size: 27px
    line-height: 1.5
    color: $secondary-color
    +medium
    


    

    


